body {
  margin: 0;
  overflow-x: hidden;
}

.leaflet-container {
  height: 80vh;
  width: 100%;
}

.user-icon-color {
  filter: hue-rotate(120deg);
}

.vendor-icon-color {
  filter: hue-rotate(-120deg);
}
